<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="adminUsername" value="admin"/>
    <add key="adminPassword" value="p@ss"/>
  </appSettings>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer><system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ILocationServices" />
        <binding name="BasicHttpBinding_IQuakeService" />
        <binding name="BasicHttpBinding_INewsDataService" />
        <binding name="BasicHttpBinding_ICrimeDataService" />
        <binding name="BasicHttpBinding_IWeatherService" />
        <binding name="BasicHttpBinding_IService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://webstrar14.fulton.asu.edu/Page0/LocationServices.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILocationServices"
        contract="LocationServiceRef.ILocationServices" name="BasicHttpBinding_ILocationServices" />
      <endpoint address="http://webstrar14.fulton.asu.edu/Page1/QuakeService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQuakeService"
        contract="QuakeServiceRef.IQuakeService" name="BasicHttpBinding_IQuakeService" />
      <endpoint address="http://webstrar14.fulton.asu.edu/Page1/NewsDataService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewsDataService"
        contract="NewsServiceRef.INewsDataService" name="BasicHttpBinding_INewsDataService" />
      <endpoint address="http://webstrar14.fulton.asu.edu/Page1/CrimeDataService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICrimeDataService"
        contract="CrimeServiceRef.ICrimeDataService" name="BasicHttpBinding_ICrimeDataService" />
      <endpoint address="http://webstrar14.fulton.asu.edu/Page1/WeatherService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWeatherService"
        contract="WeatherServiceRef.IWeatherService" name="BasicHttpBinding_IWeatherService" />
      <endpoint address="http://venus.eas.asu.edu/WSRepository/Services/ImageVerifierSvc/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
        contract="ImageVerifierServiceRef.IService" name="BasicHttpBinding_IService" />
    </client>
  </system.serviceModel>
</configuration>